rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // EMERGENCIA PRODUCCIÓN: Se libera el acceso total de lectura y escritura
    // para técnicos y administradores en todo el bucket.
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}